<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
	<!-- 配置SpringMVC -->
	<!-- 1.开启SpringMVC注解模式 -->
	<!-- 简化配置：
		(1)自动注册DefaultAnootationHandlerMapping,AnotationMethodHandlerAdapter
		(2)提供一些列：数据绑定，数字和日期的format @NumberFormat, @DateTimeFormat, xml,json默认读写支持
	-->
	<mvc:annotation-driven ></mvc:annotation-driven>

	<!-- 2.静态资源默认servlet配置
		(1)加入对静态资源的处理：js,gif,png
		(2)允许使用"/"做整体映射
	 -->
	<mvc:default-servlet-handler/>

	<!-- 3.配置jsp 显示ViewResolver -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/user/" />
		<property name="suffix" value=".html" />
	</bean>

	<!-- 4.扫描web相关的bean -->
	<context:component-scan base-package="com.four.fvs.controller,com.four.fvs.exception">
	</context:component-scan>
</beans>







<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
<!--	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--	xmlns:context="http://www.springframework.org/schema/context"-->
<!--	xmlns:mvc="http://www.springframework.org/schema/mvc"-->
<!--	xsi:schemaLocation="http://www.springframework.org/schema/beans-->
<!--	http://www.springframework.org/schema/beans/spring-beans.xsd-->
<!--	http://www.springframework.org/schema/context-->
<!--	http://www.springframework.org/schema/context/spring-context.xsd-->
<!--	http://www.springframework.org/schema/mvc-->
<!--	http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">-->
<!--	&lt;!&ndash; 配置SpringMVC &ndash;&gt;-->
<!--	&lt;!&ndash; 1.开启SpringMVC注解模式 &ndash;&gt;-->
<!--	&lt;!&ndash; 简化配置： -->
<!--		(1)自动注册DefaultAnootationHandlerMapping,AnotationMethodHandlerAdapter -->
<!--		(2)提供一些列：数据绑定，数字和日期的format @NumberFormat, @DateTimeFormat, xml,json默认读写支持 -->
<!--	&ndash;&gt;-->

<!--	<mvc:annotation-driven></mvc:annotation-driven>-->

<!--	&lt;!&ndash; 2.静态资源默认servlet配置-->
<!--		(1)加入对静态资源的处理：js,gif,png-->
<!--		(2)允许使用"/"做整体映射-->
<!--	 &ndash;&gt;-->
<!--&lt;!&ndash;	 <mvc:default-servlet-handler/>&ndash;&gt;-->
<!--	 -->
<!--	 &lt;!&ndash; 3.配置jsp 显示ViewResolver &ndash;&gt;-->
<!--	    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
<!--	 	<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />-->
<!--	 	<property name="prefix" value="/WEB-INF/" />-->
<!--	 	<property name="suffix" value=".html" />-->
<!--	 </bean>-->



<!--&lt;!&ndash;	4:扫描web相关的controller&ndash;&gt;-->
<!--	<context:component-scan base-package="com.four.fvs.controller" use-default-filters="false">-->
<!--&lt;!&ndash;		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>&ndash;&gt;-->
<!--&lt;!&ndash;		&lt;!&ndash;控制器增强，通常用来解决全局异常&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>&ndash;&gt;-->
<!--	</context:component-scan>-->



<!--</beans>-->