<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.four.fvs.dao.AdDao">
    <select id="getAdvertisingDao" resultType="com.four.fvs.model.Advertising">
        select * from advertising
        where del=1
    </select>

    <insert id="addAdvertisingDao" parameterType="com.four.fvs.model.Advertising">
        insert into advertising
        (adSrc, length, info, validTime, del)
        values
        (#{adSrc}, #{length}, #{info}, CURRENT_DATE(), 1 )
    </insert>

    <update id="delAdvertisingDao">
        update advertising set
        del=2
        where
        id=#{id}
    </update>

    <update id="editAdvertisingDao" parameterType="com.four.fvs.model.Advertising">
        update advertising set
        adSrc = #{adSrc},
        length = #{length},
        info = #{info},
        validTime = #{validTime},
        where
        id=#{id}
    </update>
</mapper>