<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.four.fvs.dao.ChatMessageDao">


  <sql id="base_sql">
    mesId,
    message,
    sendTime,
    receiveId,
    sendId,
    sendChatStatus,
    receiveChatStatus,
    del,
  </sql>

    <insert id="insertChatMessage" parameterType="com.four.fvs.model.ChatMessage">
      insert into chatmessage
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <include refid="base_sql"></include>
      </trim>
      <trim prefix="values(" suffix=")" suffixOverrides=",">
        #{mesId},
        #{message},
        #{sendTime},
        #{receiveId},
        #{sendId},
        #{sendChatStatus},
        #{receiveChatStatus},
        #{del},
      </trim>
    </insert>


  <update id="updateChatMessageBox">
    update chatmessage set sendChatStatus=2 where mesId=#{mesId}
  </update>


  <select id="getChatMessageBox" resultType="com.four.fvs.model.ChatMessage">
    select * from chatmessage
    where mesId like concat(#{userId},"_%" ) and sendChatStatus=1 and del=1
  </select>


  <select id="getChatMessages" resultType="com.four.fvs.model.ChatMessage">
    select * from chatmessage where mesId=#{mesId} and sendChatStatus=1 and del=1
  </select>
</mapper>