<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.four.fvs.dao.CommentReplyDao">


    <sql id="base_sql">
      content,
      replyTime,
      replyId,
      beReplyId,
      commentId,
      del,
    </sql>

    <insert id="addCommentReply" parameterType="com.four.fvs.model.CommentReply">
      insert into commentreply
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <include refid="base_sql"></include>
      </trim>
      <trim prefix="values(" suffix=")" suffixOverrides=",">
        #{content},
        #{replyTime},
        #{replyId},
        #{beReplyId},
        #{commentId},
        #{del},
      </trim>
    </insert>


    <update id="delCommentReply">
      update commentreply set
      del=2 where id=#{id}
    </update>

    <select id="getCommentReply" resultType="list">
        select * from commentreply where commendId=#{commentId} and del=1
    </select>
</mapper>