<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.four.fvs.dao.SystemMessageDao">
    <select id="getHistorySystemMessage" resultType="com.four.fvs.model.SystemMessage">
        select * from systemmessage
        where (receiveId=#{receiveId} or receiveId is null) and sendTime>#{createTime} and del=1
        order by sendTime desc
        limit #{begin},#{size}
    </select>
</mapper>