<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.four.fvs.dao.UserDao">


    <sql id="base_sql">
        userName,
        password,
        icon,
        sex,
        introduce,
        createTime,
        roleId,
        del,
    </sql>

    <insert id="register" parameterType="com.four.fvs.model.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="base_sql"></include>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            #{userName},
            #{password},
            #{icon},
            #{sex},
            #{introduce},
            #{createTime},
            #{roleId},
            #{del},
        </trim>
    </insert>

    <update id="editxx" parameterType="com.four.fvs.model.User">

        update user  set userName = #{userName},
                        password = #{password},
                       introduce = #{introduce}
        where id=#{id}

    </update>





    <select id="ifExist" resultType="com.four.fvs.model.User">
        select * from user where userName=#{userName} and del=1
    </select>
    <select id="login" resultType="com.four.fvs.model.User">
        select * from user where userName=#{userName} and password=#{password} and del=1
    </select>

    <select id="getUserInfo" resultType="com.four.fvs.model.User">
        select * from user where id=#{id} and del=1
    </select>

    <!--
    * @Author: yzh
    * @Date: 2019/6/68 18:08
    * @Description: 用戶信息的管理
    -->

    <!--
    * 遍历所有的用戶信息
    * @param
    * @return
    -->
    <select id="getAllUserDao" resultType="com.four.fvs.model.User">
        select * from user where del=1
    </select>

    <!--
   * @Author: yzh
   * @Date: 2019/6/8 23:09
   * @Description: 用戶信息的管理
    -->

    <!--
   * 通过id得到某个用戶的信息
   * @param id
   * @return
    -->
    <select id="getUserDao" resultType="com.four.fvs.model.User">
        select * from user where id=#{id} and del=1
    </select>
    <!--
      * 通过id得到某个用戶的Fans信息
      * @param id
      * @return
       -->
    <select id="getFansDao" resultType="com.four.fvs.model.User">
        select * from user where id in (select fansId from focus where userid=#{id} and del = 1)
    </select>
    <!--
     * 通过id得到某个用戶的关注人信息
     * @param id
     * @return
      -->
    <select id="getFocusDao" resultType="com.four.fvs.model.User">
        select * from user where id in (select userid from focus where fansId=#{id} and del = 1)
    </select>



    <select id="getVideoCount" resultType="Integer">
        select count(*) from video where userId=#{userId} and del=1
    </select>

</mapper>