<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.four.fvs.dao.VideoCommentDao">

    <resultMap id="videocomment" type="com.four.fvs.model.VideoComment">
        <id property="id" column="id"></id>
        <result property="content" column="content"></result>
        <result property="createTime" column="createTime"></result>
        <result property="userId" column="userId"></result>
        <result property="videoId" column="videoId"></result>
        <result property="praiseNumber" column="praiseNumber"></result>
        <result property="type" column="type"></result>
        <result property="del" column="del"></result>
        <collection property="commentReplyList" ofType="com.four.fvs.model.CommentReply" columnPrefix="b_">
            <result property="id" column="id"></result>
            <result property="content" column="content"></result>
            <result property="replyTime" column="replyTime"></result>
            <result property="replyId" column="replyId"></result>
            <result property="beReplyId" column="beReplyId"></result>
            <result property="commentId" column="commentId"></result>
            <result property="del" column="del"></result>
        </collection>
    </resultMap>

    <sql id="base_sql">
        content,
        createTime,
        userId,
        videoId,
        praiseNumber,
        type,
        del,
    </sql>

    <sql id="otherbase_sql">
        b.id b_id,
        b.content b_content,
        b.replyTime b_replyTime,
        b.replyId b_replyId,
        b.beReplyId b_beReplyId,
        b.commentId b_commentId,
        b.del b_del,
    </sql>

    <insert id="insert" parameterType="com.four.fvs.model.VideoComment">
        insert into videocomment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="base_sql"></include>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            #{content},
            #{createTime},
            #{userId},
            #{videoId},
            #{praiseNumber},
            #{type},
            #{del},
        </trim>
    </insert>

    <select id="getVideoComment" resultMap="videocomment">
        select
        a.*,
        <trim suffixOverrides=",">
            <include refid="otherbase_sql"></include>
        </trim>
        from
        (
        select *
        from videocomment where videoId=#{videoId} and type=#{type} and del=1 limit #{begin},#{size}
        ) a
        left JOIN commentreply b on a.id=b.commentId and b.del=1
        order by a.praiseNumber
    </select>

    <select id="getCount" resultType="Integer">
        select count(*) from videocomment where videoId=#{videoId} and type=#{type} and del=1
    </select>


    <update id="delComment">
        update videocomment set
        del=2
        where id=#{id}
    </update>

    <update id="givePraise">
        update videocomment
        set praiseNumber=praiseNumber+#{number}
        where id=#{id}
    </update>


    <select id="getOneVideoCommentById" resultType="com.four.fvs.model.VideoComment">
        select * from videocomment where id=#{id}
    </select>

</mapper>